In [1]:
import pandas as pd

In [2]:

personas_categoria = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_categoria_conicet (1).csv", sep=";")
personas_categoria.columns

Index(['categoria_conicet_id', 'categoria_conicet_descripcion'], dtype='object')

In [3]:
pers = pd.concat([personas["persona_id"], personas["anio"], personas["categoria_conicet_id"]], axis=1)
pers

NameError: name 'personas' is not defined

In [8]:
import pandas as pd
personas = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/personas_2011.csv", sep=";")
personas.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'maximo_grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_titulo_grado_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'max_dedicacion_horaria_docente_id', 'institucion_cargo_docente_id',
       'clase_cargo_docente_id', 'tipo_condicion_docente_id'],
      dtype='object')

In [9]:
personas_merge = personas.merge(personas_categoria, on='categoria_conicet_id')
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'maximo_grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_titulo_grado_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'max_dedicacion_horaria_docente_id', 'institucion_cargo_docente_id',
       'clase_cargo_docente_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion'],
      dtype='object')

In [10]:
cargo = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_clase_cargo.csv", sep=";")
cargo.columns

Index(['clase_cargo_id', 'tipo_cargo_descripcion', 'grupo_cargo_descripcion',
       'clase_cargo_descripcion', 'equivalencia_cargo_docente_descripcion'],
      dtype='object')

In [11]:

personas_merge = personas_merge.rename(columns={"clase_cargo_docente_id":"clase_cargo_id"})
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'maximo_grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_titulo_grado_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'max_dedicacion_horaria_docente_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion'],
      dtype='object')

In [12]:
disciplina = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_disciplina.csv", sep=";")
disciplina.columns

Index(['disciplina_id', 'gran_area_codigo', 'gran_area_descripcion',
       'area_codigo', 'area_descripcion', 'disciplina_codigo',
       'disciplina_descripcion'],
      dtype='object')

In [13]:

personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'maximo_grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_titulo_grado_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'max_dedicacion_horaria_docente_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion'],
      dtype='object')

In [14]:
pd.unique(disciplina.disciplina_id)

array([ -1,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288])

In [15]:
pd.unique(personas.disciplina_titulo_grado_id)

array([ -1, 255, 111, 248, 203,  57, 192, 258, 199,  40,  65, 256,  34,
       206, 251, 207,  11,  38,  43, 220,  48,  20,   3, 214, 107, 234,
        99, 254,  14,   7,  35, 188, 277, 157, 282, 208, 250, 223,  61,
       271, 197,  22, 243, 259,  12,  45,  42, 285,  32, 200,  17, 237,
        46,  84, 201,  23, 233, 281, 186,  13, 108,  74, 221, 252, 287,
       284, 249,  10,  19, 229, 174,  53, 204,   1, 216,  76,  64, 210,
       176, 238, 257,  47,  67, 193,   5, 194, 120, 278, 286, 227,  60,
       219, 100, 147, 275,  58, 195, 106, 144, 280,  62,  29, 109, 209,
       181, 134, 119, 211,   6, 173, 179, 288, 235, 213,  59, 279, 187,
       262,  36,   9,  18, 224, 153, 161, 196, 244, 236, 246, 242, 123,
         2,  55, 230,  26, 247,  52, 150, 226, 166, 113, 228, 260,  24,
         8,  69, 154, 155, 222, 114,  75, 225, 171, 264, 263, 202, 198,
         4, 112, 205,  31, 266, 165, 117, 116, 175, 253, 231,  71, 218,
       191,  95, 232, 261, 180,  49,  51,  15, 184, 182, 274, 183, 177,
        37, 101, 276,  27, 265,  63, 283,  41, 239,  28, 268,  98,  16,
        66, 160, 272, 168,  39,  94,  50,  44,  78, 158, 148,  68,  87,
       215, 269,  33, 118, 105,  56,  54, 145,  96,  80, 273, 151, 270,
        85, 126, 241, 137, 142, 124,  21,  30, 159,  77, 138,  25, 167,
        90,  72,  70,  79,  91, 189, 103, 132, 267,  88,  81, 172, 169,
       139, 110, 122, 129, 152, 128, 245,  97, 143, 164, 136, 240, 131,
       141, 178,  89, 135,  86, 127,  82, 162, 156, 130, 170, 140, 121,
       212, 217, 146, 133, 125, 115, 149,  83])

In [16]:
personas_merge = personas_merge.rename(columns={"disciplina_titulo_grado_id":"disciplina_id"})
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'maximo_grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'max_dedicacion_horaria_docente_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion'],
      dtype='object')

In [17]:
grado_academico = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_grado_academico.csv", sep=";")
grado_academico.columns

Index(['grado_academico_id', 'descripcion'], dtype='object')

In [29]:
personas_merge = personas_merge.rename(columns={"maximo_grado_academico_id":"grado_academico_id"})
personas_merge = personas_merge.merge(grado_academico, on="grado_academico_id")
personas_merge

,persona_id,anio,sexo_id,edad,grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_id,tipo_condicion_docente_id,categoria_conicet_descripcion,descripcion
0,1,2011,2,36,-1,-1,-1,64,4,0,...,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0,No pertenece a Conicet,Sin datos
1,263,2011,2,31,-1,-1,-1,3,4,0,...,5390,,-1.0,-1.0,3.0,6338.0,45.0,2.0,No pertenece a Conicet,Sin datos
2,694,2011,1,27,-1,-1,-1,252,4,2,...,8902,,-1.0,-1.0,3.0,1123.0,70.0,2.0,No pertenece a Conicet,Sin datos
3,698,2011,1,24,-1,-1,-1,252,4,-1,...,4192,,-1.0,-1.0,3.0,1780.0,33.0,3.0,No pertenece a Conicet,Sin datos
4,826,2011,2,23,-1,-1,-1,285,4,0,...,4192,,-1.0,-1.0,3.0,1780.0,50.0,3.0,No pertenece a Conicet,Sin datos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48635,180969,2011,2,24,7,-1,-1,56,4,0,...,116,,-1.0,-1.0,3.0,116.0,22.0,2.0,No pertenece a Conicet,Medio
48636,182174,2011,2,23,7,-1,-1,221,4,0,...,16103,,-1.0,-1.0,3.0,368.0,41.0,1.0,No pertenece a Conicet,Medio
48637,182266,2011,1,35,7,-1,-1,231,4,0,...,444,,-1.0,-1.0,3.0,444.0,22.0,1.0,No pertenece a Conicet,Medio
48638,22342,2011,2,58,7,-1,-1,262,4,1,...,889,,8.0,-1.0,3.0,3689.0,20.0,2.0,Personal de apoyo,Medio
48639,29126,2011,2,41,7,-1,-1,227,3,3,...,8383,S/D,8.0,-1.0,3.0,231.0,40.0,1.0,Personal de apoyo,Medio

In [18]:
sexo= pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_sexo.csv", sep=";")
sexo.columns

Index(['sexo_id', 'sexo_descripcion'], dtype='object')

In [37]:

personas_merge = personas_merge.merge(sexo, on='sexo_id')
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'tipo_dedicacion_horaria_semanal_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion', 'descripcion',
       'tipo_dedicacion_horaria_semanal_descripcion', 'sexo_descripcion'],
      dtype='object')

In [19]:
horario = pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_tipo_dedicacion_horaria_semanal.csv", sep=";")
horario.columns

Index(['tipo_dedicacion_horaria_semanal_id', 'tipo_dedicacion_horaria_semanal_descripcion'], dtype='object')

In [39]:
docente= pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_tipo_condicion_docente.csv", sep=";")
docente.columns

Index(['tipo_condicion_docente_id', 'tipo_condicion_docente_descripcion'], dtype='object')

In [40]:
personas_merge = personas_merge.merge(docente, on="tipo_condicion_docente_id")
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'tipo_dedicacion_horaria_semanal_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion', 'descripcion',
       'tipo_dedicacion_horaria_semanal_descripcion', 'sexo_descripcion',
       'tipo_condicion_docente_descripcion'],
      dtype='object')

In [63]:
personas_merge = personas_merge.rename(columns={"max_dedicacion_horaria_docente_id":"tipo_dedicacion_horaria_semanal_id"})
personas_merge = personas_merge.merge(horario, on="tipo_dedicacion_horaria_semanal_id")
personas_merge.columns

Index(['persona_id', 'anio', 'sexo_id', 'edad', 'grado_academico_id',
       'disciplina_maximo_grado_academico_id', 'disciplina_id',
       'disciplina_experticia_id', 'tipo_personal_id', 'producciones_ult_anio',
       'producciones_ult_2_anios', 'producciones_ult_3_anios',
       'producciones_ult_4_anios', 'institucion_trabajo_id', 'seniority_level',
       'categoria_conicet_id', 'categoria_incentivos',
       'tipo_dedicacion_horaria_semanal_id', 'institucion_cargo_docente_id',
       'clase_cargo_id', 'tipo_condicion_docente_id',
       'categoria_conicet_descripcion', 'descripcion',
       'tipo_dedicacion_horaria_semanal_descripcion_x', 'sexo_descripcion',
       'tipo_condicion_docente_descripcion',
       'tipo_dedicacion_horaria_semanal_descripcion_y',
       'tipo_dedicacion_horaria_semanal_descripcion'],
      dtype='object')

In [71]:
personal= pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/tablas de datos/ref_tipo_condicion_docente.csv", sep=";")

personal.columns

Index(['tipo_condicion_docente_id', 'tipo_condicion_docente_descripcion'], dtype='object')

In [76]:

personas_merge = personas_merge.merge(personal,on="tipo_personal_id")

personas_merge.columns

KeyError: 'tipo_personal_id'

In [77]:
personas_merge

,persona_id,anio,sexo_id,edad,grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,institucion_cargo_docente_id,clase_cargo_id,tipo_condicion_docente_id,categoria_conicet_descripcion,descripcion,tipo_dedicacion_horaria_semanal_descripcion_x,sexo_descripcion,tipo_condicion_docente_descripcion,tipo_dedicacion_horaria_semanal_descripcion_y,tipo_dedicacion_horaria_semanal_descripcion
0,1,2011,2,36,-1,-1,-1,64,4,0,...,116.0,22.0,1.0,No pertenece a Conicet,Sin datos,De 0 hasta 19 horas,MASCULINO,Regular o por concurso,De 0 hasta 19 horas,De 0 hasta 19 horas
1,1502,2011,2,27,-1,-1,-1,7,4,0,...,101.0,22.0,1.0,No pertenece a Conicet,Sin datos,De 0 hasta 19 horas,MASCULINO,Regular o por concurso,De 0 hasta 19 horas,De 0 hasta 19 horas
2,1512,2011,2,26,-1,-1,-1,46,1,1,...,3490.0,22.0,1.0,No pertenece a Conicet,Sin datos,De 0 hasta 19 horas,MASCULINO,Regular o por concurso,De 0 hasta 19 horas,De 0 hasta 19 horas
3,3197,2011,2,22,-1,-1,-1,103,4,0,...,352.0,41.0,1.0,No pertenece a Conicet,Sin datos,De 0 hasta 19 horas,MASCULINO,Regular o por concurso,De 0 hasta 19 horas,De 0 hasta 19 horas
4,3812,2011,2,24,-1,-1,-1,258,4,3,...,3582.0,41.0,1.0,No pertenece a Conicet,Sin datos,De 0 hasta 19 horas,MASCULINO,Regular o por concurso,De 0 hasta 19 horas,De 0 hasta 19 horas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48635,18873,2011,1,53,1,256,256,41,3,2,...,258.0,69.0,-1.0,Investigador principal,Universitario de posgrado/doctorado,40 horas o más,FEMENINO,Sin datos,40 horas o más,40 horas o más
48636,5506,2011,1,35,1,-1,-1,5,3,1,...,3224.0,69.0,-1.0,Investigador asistente,Universitario de posgrado/doctorado,40 horas o más,FEMENINO,Sin datos,40 horas o más,40 horas o más
48637,6246,2011,1,41,1,2,2,3,3,4,...,1513.0,69.0,-1.0,Investigador asistente,Universitario de posgrado/doctorado,40 horas o más,FEMENINO,Sin datos,40 horas o más,40 horas o más
48638,10107,2011,1,40,1,-1,-1,4,3,0,...,130.0,69.0,-1.0,Investigador asistente,Universitario de posgrado/doctorado,40 horas o más,FEMENINO,Sin datos,40 horas o más,40 horas o más
48639,19053,2011,1,53,3,271,249,249,4,0,...,5036.0,20.0,-1.0,No pertenece a Conicet,Universitario de posgrado/especialización,40 horas o más,FEMENINO,Sin datos,40 horas o más,40 horas o más

In [20]:
import pandas as pd
personas_merge= pd.read_csv("/Users/pilarfeijoo/Desktop/fundamentos de informatica/Fundamentos-de-Informatica/personas_merge.csv")

personas_merge.colums

ParserError: Error tokenizing data. C error: Expected 1 fields in line 170, saw 2

In [21]:
personas

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,185558,2011,2,-1,-1,-1,-1,263,2,-1,...,-1,-1,221,,NaN,NaN,NaN,NaN,NaN,NaN
68548,185574,2011,2,55,-1,-1,-1,38,2,0,...,0,0,10971,,NaN,NaN,NaN,NaN,NaN,NaN
68549,185583,2011,2,18,7,-1,-1,216,2,-1,...,-1,-1,10624,,NaN,NaN,NaN,NaN,NaN,NaN
68550,185590,2011,2,-1,8,-1,-1,250,2,-1,...,-1,-1,396,,NaN,NaN,NaN,NaN,NaN,NaN
68551,185608,2011,1,27,5,227,227,252,2,-1,...,-1,-1,3765,,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:

personas['maximo_grado_academico_id'].value_counts()

 5    26932
 1    15075
 2     7764
 3     7204
 7     5271
-1     5055
 6     1017
 8      234
Name: maximo_grado_academico_id, dtype: int64

In [23]:
personas.info()
#vemos que desde la columna de persona_id hasta la de senitority_level no hay datos nulos
#en las otras columna hay 68552 - 48640 datos nulos = 19.912

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68552 entries, 0 to 68551
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   persona_id                            68552 non-null  int64
 1   anio                                  68552 non-null  int64
 2   sexo_id                               68552 non-null  int64
 3   edad                                  68552 non-null  int64
 4   maximo_grado_academico_id             68552 non-null  int64
 5   disciplina_maximo_grado_academico_id  68552 non-null  int64
 6   disciplina_titulo_grado_id            68552 non-null  int64
 7   disciplina_experticia_id              68552 non-null  int64
 8   tipo_personal_id                      68552 non-null  int64
 9   producciones_ult_anio                 68552 non-null  int64
 10  producciones_ult_2_anios              68552 non-null  int64
 11  producciones_ult_3_anios              68552 non-null  int64
 12  producciones_ult_4_anios              68552 non-null  int64
 13  institucion_trabajo_id                68552 non-null  int64
 14  seniority_level                       68552 non-null  object
 15  categoria_conicet_id                  48640 non-null  float64
 16  categoria_incentivos                  48640 non-null  float64
 17  max_dedicacion_horaria_docente_id     48640 non-null  float64
 18  institucion_cargo_docente_id          48640 non-null  float64
 19  clase_cargo_docente_id                48640 non-null  float64
 20  tipo_condicion_docente_id             48640 non-null  float64
dtypes: float64(6), int64(14), object(1)
memory usage: 11.0+ MB

In [24]:
personas.isnull() #cada colum true = valor nulo, false = valor no nulo

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
68548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
68549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
68550,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True
68551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,True,True,True,True

In [25]:
personas.isnull().sum() #cant de valores nulos para cada columna

persona_id                                  0
anio                                        0
sexo_id                                     0
edad                                        0
maximo_grado_academico_id                   0
disciplina_maximo_grado_academico_id        0
disciplina_titulo_grado_id                  0
disciplina_experticia_id                    0
tipo_personal_id                            0
producciones_ult_anio                       0
producciones_ult_2_anios                    0
producciones_ult_3_anios                    0
producciones_ult_4_anios                    0
institucion_trabajo_id                      0
seniority_level                             0
categoria_conicet_id                    19912
categoria_incentivos                    19912
max_dedicacion_horaria_docente_id       19912
institucion_cargo_docente_id            19912
clase_cargo_docente_id                  19912
tipo_condicion_docente_id               19912
dtype: int64

In [26]:
personas.notnull().sum() #tot sum de valores  no nulos

persona_id                              68552
anio                                    68552
sexo_id                                 68552
edad                                    68552
maximo_grado_academico_id               68552
disciplina_maximo_grado_academico_id    68552
disciplina_titulo_grado_id              68552
disciplina_experticia_id                68552
tipo_personal_id                        68552
producciones_ult_anio                   68552
producciones_ult_2_anios                68552
producciones_ult_3_anios                68552
producciones_ult_4_anios                68552
institucion_trabajo_id                  68552
seniority_level                         68552
categoria_conicet_id                    48640
categoria_incentivos                    48640
max_dedicacion_horaria_docente_id       48640
institucion_cargo_docente_id            48640
clase_cargo_docente_id                  48640
tipo_condicion_docente_id               48640
dtype: int64

In [28]:
personas.isna().sum()

persona_id                                  0
anio                                        0
sexo_id                                     0
edad                                        0
maximo_grado_academico_id                   0
disciplina_maximo_grado_academico_id        0
disciplina_titulo_grado_id                  0
disciplina_experticia_id                    0
tipo_personal_id                            0
producciones_ult_anio                       0
producciones_ult_2_anios                    0
producciones_ult_3_anios                    0
producciones_ult_4_anios                    0
institucion_trabajo_id                      0
seniority_level                             0
categoria_conicet_id                    19912
categoria_incentivos                    19912
max_dedicacion_horaria_docente_id       19912
institucion_cargo_docente_id            19912
clase_cargo_docente_id                  19912
tipo_condicion_docente_id               19912
dtype: int64

In [27]:
personas.notna().sum()

persona_id                              68552
anio                                    68552
sexo_id                                 68552
edad                                    68552
maximo_grado_academico_id               68552
disciplina_maximo_grado_academico_id    68552
disciplina_titulo_grado_id              68552
disciplina_experticia_id                68552
tipo_personal_id                        68552
producciones_ult_anio                   68552
producciones_ult_2_anios                68552
producciones_ult_3_anios                68552
producciones_ult_4_anios                68552
institucion_trabajo_id                  68552
seniority_level                         68552
categoria_conicet_id                    48640
categoria_incentivos                    48640
max_dedicacion_horaria_docente_id       48640
institucion_cargo_docente_id            48640
clase_cargo_docente_id                  48640
tipo_condicion_docente_id               48640
dtype: int64

In [ ]:

import matplotlib.pyplot as plt
sns.heatmap(personas.isnull(), cmap='viridis')

In [ ]:
#Desafío II: Calcular el porcentaje del total de datos, 
#representan los datos nulos de cada columna (variable)

In [ ]:
 personas.isnull().sum() / len(personas.persona_id) * 100

In [ ]:
# Desafío III: Escribí el código que usarías para reemplazar los faltantes
#por la moda y por la mediana.
#Para pensar : ¿Cuál son la media, moda y mediana? ¿Y los cuantiles?

In [ ]:
clean3.fillna(clean3['disciplina_maximo_grado_academico_id'].mean(), inplace=True)
clean3.fillna(clean3['disciplina_maximo_grado_academico_id'].median(), inplace=True)
clean3