In [5]:
import pandas as pd
import seaborn as sns 
import scipy.stats as ss

In [6]:
una_serie = pd.Series(['Peru', 'Argentina', 'Bolivia', 'Uruguay', 'Brasil', 'Chile'], dtype='string')
una_serie

0         Peru
1    Argentina
2      Bolivia
3      Uruguay
4       Brasil
5        Chile
dtype: string

In [7]:
datos = {"Pais": ['Peru', 'Argentina', 'Bolivia', 'Uruguay', 'Brasil', 'Chile'], "Idioma oficial": ['Español', 'Español', 'Español', 'Español', 'Portugues', 'Español']}
paises_latam = pd.DataFrame(datos)
paises_latam

        Pais Idioma oficial
0       Peru        Español
1  Argentina        Español
2    Bolivia        Español
3    Uruguay        Español
4     Brasil      Portugues
5      Chile        Español